@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
	margin:0px;
	font-family:"Raleway",sans-serif;
	background-color:whitesmoke;
	font-size:25px;
}
button {
	font-family:"Raleway",sans-serif;
}
.title {
	text-align:center;
	font-size:50px;
}
.mainContent {
	width:1300px;
	padding:20px;
	margin:0px auto;
}
.navBar {
	height:80px;
	background-image:linear-gradient(to right,#EBE812,#B6EB12);
	margin:0px;
	color:white;
	font-weight:500;
	text-shadow:1px 1px 1px black;
}
.links {
	height:80px;
	margin:0px;
}
.notLink {
	cursor:not-allowed;
}
.links a {
	display:inline-block;
	padding:0px 40px;
	padding-top:30px;
	margin-right:-6px;
	height:50px;
	font-size:20px;
	color:white;
	transition:0.5s all;
	text-decoration:none;
}
a {
	text-decoration:none;
}
.links a:hover {
	background-color:#79A90A;
	color:white;
}
.button {
	background-color:#C0EB12;
	width:30%;
	padding:30px;
	text-align:center;
	font-size:35px;
	color:white;
	text-shadow:1px 1px 1px black;
	transition:0.5s all;
}
.button:hover {
	background-color:#79A90A;
	color:white;
}